header{
    width: 216vh;
    height: 8vh;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

#logocuida {
    margin-top: 10px;
    margin-left: 10px;
    height: 32px;
    width: 240;
}

.navbotao{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;

    font-family: 'League Spartan',sans-serif, ;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    color: #3F619F;

    display: flex;
    margin-top: 35px;

}

.linkicon{
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

#menulateral{
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    

    background-color: rgba(63, 97, 159, 0.2);
    width: 27vh;
    height: 92vh;

}

main{
    display: flex;
    flex-direction: row;
    height: 92vh;
}

#imgbemvindo{
    display: flex;
    margin-left: 80px;
    height: 92vh;
    width: 150vh;
    margin: none;
}

.navbotao::before {
    content: " ";
    width: 10px;
    height: 10px;
}

.icons{
    padding-top: 25px;
}

.container{
  margin-left: 5% ;
  
    display: flex;
   
    gap: 6% ;
    flex-direction: column;
    
}

.titulo{

    margin: 15px;
    display: flex;
    justify-content: center;
    font-family: 'League Spartan',sans-serif,;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;

    text-align: center;

    color: #3F619F;
}

.dados{
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-family: 'League Spartan',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 22px;
gap: 5px;


text-align: center;

color: #3F619F;
}

.datanasc{
    display: flex;
    justify-content: start;
    gap: 1%;
    margin-top: 12px;
    font-family: 'League Spartan',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;


    text-align: center;

    color: #3F619F;
    
    
}

.dados2{
    display: flex;
    gap: 6%;
    
    font-family: 'League Spartan',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 22px;


text-align: center;

color: #3F619F;

}

.especializacao{
    display: flex;
    justify-content: flex-start;
    font-family: 'League Spartan',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 22px;


text-align: center;

color: #3F619F;
    

}

.titulo2{
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: 'League Spartan',sans-serif,;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;

    text-align: center;

    color: #3F619F;

}

.dadoscontato{
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 10px;
    font-family: 'League Spartan',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;



    text-align: center;

    color: #3F619F;
}


.dadoscontatocelular{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-family: 'League Spartan',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    



    text-align: center;

    color: #3F619F;
}

span{
    color: black;
    font-size: 15px;
}



.botao{
    
    margin-left:40%;
    width: 180px;
    height: 40px;
    left: 678px;
    top: 671px;
    border-color: #5992FF;
    background: #5992FF;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    font-family: 'League Spartan',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;


    text-align: center;

color: #FFFFFF;
}

input,select{
   color: #000000;

}






