
header {
    width: 100;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.158);
    height: 11vh;
}

#logo {
    position:absolute;
    top: 19px;
    left: 28px;
    height: 33px;
}  

#titulo{

    position: absolute;
    width: 359px;
    height: 79px;
    left: 152px;
    top: 130px;

}

.titulo{
    font-family: 'League Spartan';
    font-style: normal;
    font-size: 41px;
    font-weight: 600;
    text-align: center;
    color: #3F619F;
    line-height: 44px;
    }

    #botao1{
        position:absolute;
        left:16%;
        top:45%; 

        background-color: #5992FF;
        border-radius: 20px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
        width: 90px;
        border: 0;

        width: 227px;
        height: 58px;
        font-size: 40px;
        font-family: 'League Spartan';
        font-style: normal;
        color: #FFFFFF;

        text-align: center;
        font-weight: 700;

        
        


    }

    #botao2{
        
        position: absolute;
        left: 16%;
        top: 67%;

        background-color: #5992FF;
        border: 0;
        border-radius: 20px;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
        
        width: 227px;
        height: 58px;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;

        text-align: center;
        font-family: 'League Spartan';
        color: #FFFFFF;
    }

    #container  {
        
        display: flex;
        justify-content: space-between;
        height: 88.5vh;
    }



 #imagem{
    display: flex;
    height: 88.5vh;   
        
    
 }

#botao1:hover{
    color: #3F619F;
    transition: color .4s;
    cursor: pointer !important;
}

#botao2:hover{

    color: #3F619F;
    transition: color .4s;
    cursor: pointer !important;
}
 

